<% if @user.errors.any? %>
  <div class="error-explanation">
    <div class="alert alert-danger">
      <%= t ".theform" %> <%= pluralize @user.errors.count, t(".error") %>.
    </div>
    <div class="field-with-errors">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
